<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- css -->
      <link rel="stylesheet" href="style.css">

    </head>

    <body>

    {% block content %}

    <div class='container'>
      <section class="post">
        <div class="title-and-info">
            <h2>{{ section.title }}</h2>
            <h4>{{ section.extra.author | safe }}</h4>
            <h5>{{ section.extra.institutions | safe }}</h5>
            <div class="info">
                {% if section.date %}
                    <span class='divider'/>
                    <span>{{ section.date | date(format="%d %B %Y") }}</span>
                {% endif %}
            </div>
            {% if section.extra.attention_conservation_notice %}
            <div class="attention">
                    </br>
                    <p style="font-style: italic"><a href="attention-conservation-notice">Attention Conservation Notice</a>: {{section.extra.attention_conservation_notice }}</p>
            </div>
            {% endif %}
        </div>
        <article>
            {{ section.content | safe }}
        </article>
      </section>
    </div>
    {% endblock content %}

    </body>

</html>
