// Based on the Feather Zola template
// https://github.com/U9H/feather
//
// License of the source:
// 
// BSD 3-Clause License
// 
// Copyright (c) 2018, Alexander Lozada
// All rights reserved.
// 
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
// 
// * Redistributions of source code must retain the above copyright notice, this
//   list of conditions and the following disclaimer.
// 
// * Redistributions in binary form must reproduce the above copyright notice,
//   this list of conditions and the following disclaimer in the documentation
//   and/or other materials provided with the distribution.
// 
// * Neither the name of the copyright holder nor the names of its
//   contributors may be used to endorse or promote products derived from
//   this software without specific prior written permission.
// 
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
// DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
// FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
// SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
// CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
// OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.


// Variables and Mixins
$break-small: 500px; // at what point the site becomes "mobile"
$hpadding: 48px; // The side-padding
$hpadding-small: 16px; // The side-padding on mobile

// ------------------------------------------------ //
//					  Animations 					//
// -------------------------------------------------//

// Fade in animation
@keyframes fadein{
	0% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes fadein{
	0% { opacity:0; }
	100% { opacity:1; }
}


// ------------------------------------------------ //
//					  Typography 					//
// -------------------------------------------------//

// Headers
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 12px;
	line-height: 1.2;
	color: #363431;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

.title-and-info {
	margin-bottom: 36px;

	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 16px;
	}
}

// Horizonal lines
hr {
	height: 1px;
	width: calc(100% - 96px);
	background: #edeeef;
	height: 1px;
	border: none;
	margin-bottom: 48px;

	@media (max-width: $break-small){
		width: calc(100% - 32px);
	}
}

// paragraphs and lists
p, ul, ol {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	line-height: 1.7;
	font-size: 16px;
	text-align: justify;
	margin-bottom: 16px;
}

ul, ol {
	p {
		padding: 0 0 !important;
	}
	@media (max-width: $break-small){
		list-style-position: inside;
	}
}

li {
	padding: 6px 0;
}

// text styles
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

// blockquotes
blockquote {
	font-style: italic;
	color: #AAAAAA;
	border-left: 3px solid #edeeef;
	max-width: 600px;
	blockquote {
		// add margin to nested blockquotes
	    margin-left: 8px;
	    margin-bottom: 0;
	    p {
	    	margin: 12px 0;
	    }
	}
	p {
		margin: 0;
	}

	margin: 36px 0;
}

// Links and Selections
a {
    color: #0d375b;
	text-decoration: none;
    &:visited {
        color: #4b6882;
    }
    &:hover {
        color: #464cc4;
    }
}

::selection {
	background: rgba(237, 18, 73,0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: rgba(237, 18, 73,0.5); /* Gecko Browsers */
}	

// Code
pre, code {
	font-family: "Lucida Console", Monaco, monospace;
}

// Misc.
.date, .info { // the small text that shows info related to dates, etc.
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 12px;
	color: beige;	
}

.home-link {
	text-align: center;
	display: block;
	padding: 24px $hpadding;
}


// overall rules
body {
	overflow-wrap: break-word;
    background-color: #faf9f5;
    color: #363431;
}

section {
	margin: 46px 0;
}

.container {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	// margin for text elements but not media
	p, h1, h2, h3, h4, h5, h6, span, ul, ol {
		padding: 0 $hpadding;

		@media (max-width: $break-small){ 
			padding: 0 $hpadding-small;
		}
	}

	// exclude the padding from spans in code
	pre span {
		padding: 0 0;
	}

	article {
		// reduce header size for items within 
		// an article (e.g. a blog post)
		h1,h2,h3,h4,h5,h6 {
			margin-top: 36px;
			margin-bottom: 12px;
		}
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 24px;
		}
		h3,h4,h5,h6 {
			font-size: 18px;
		}
	}
}


.info {
	padding: 0 $hpadding;
	span {
		padding: 0px;
		a {
			text-decoration: none;
			color: inherit;
			font-weight: inherit;
			&:hover {
				text-decoration: underline !important;
			}
		}
	}
	.divider:before {
		padding: 0 8px;
		content: "•";
	}
	@media (max-width: $break-small){ 
		padding: 0 $hpadding-small;
	}
}

#disqus_thread {
	padding: 24px $hpadding;

	@media (max-width: $break-small){
		padding: 24px $hpadding-small;
	}
}

// ------------------------------------------------ //
//					  Code Blocks 					//
// -------------------------------------------------//

// an optional filename field that goes before a pre
.filename {
	display: block;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	position: relative;
	bottom: -40px;

	div {
		font-size: 14px;
		font-family: "Lucida Console", Monaco, monospace;
		color: #7F8989;
		background: #f5f5f5;
		display: inline-block;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		padding: 0 $hpadding;
		padding-top: 16px;
		padding-bottom: 6px;
	}

	@media (max-width: $break-small) {
		border-radius: 0;
		div {
			padding-left: $hpadding;
			padding-right: $hpadding;
			border-radius: 0;
		}
	}
} 

// inline code
code {
	white-space: pre;
	white-space: pre-wrap;
	background: #f5f5f5;
	border-radius: 4px;
	padding: 2px 6px;
    color: #37323e;
}

pre {
	display: block;
	margin: 36px 0;
	padding: 36px $hpadding;
	border-radius: 4px;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f9f9f9;
	code {
		padding: 0;
		font-size: 100%;
		color: inherit;
		background-color: transparent;
	}
	@media (max-width: $break-small){ 
		padding-left: $hpadding-small;
		padding-right: $hpadding-small;
		border-radius: 0;
	}
}

// ------------------------------------------------ //
//			     Images & Formatting				//
// -------------------------------------------------//

// Header
.header-image {
	height: 50vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
}

a.header-link {
text-decoration: none;
color: #414142;
transition: 0.2s color ease;

	&:hover {
		color: black;
	}
}

// Fade in images on load
.container img {
	display: block;
	opacity: 0;
	border-radius: 4px;
	-webkit-animation: 0.5s ease 0s normal forwards 1 fadein;
	animation: 0.5s ease 0s normal forwards 1 fadein;
	margin: 36px 0;
}

img.loaded {
	opacity: 1;
}

// Anchors on the side
h1, h2, h3, h4, h5, h6 {
  .zola-anchor {
    opacity: 0.2;
    font-size: 1.25rem;
    margin-left: -2rem;
    margin-right: 0.75rem;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;
  }
  .zola-anchor:hover {
    opacity: 1;
  }
}
